

.idea/uiDesigner.xml
*.class
.idea/workspace.xml
.idea/uiDesigner.xml
.idea/misc.xml
.idea/misc.xml___jb_old___
.idea/workspace.xml
.idea/misc.xml
.idea/omair.iml
.idea/name
.idea/compiler.xml
.idea/encodings.xml
